/*!
 * Start Bootstrap - Blog Home HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Trebuchet MS', 'Helvetica', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';

}

.barra {
    background-color: rgb(188, 0, 23);
    color: white;
}

.texto{
    color: white;
}

.titulo {
    text-align: center;
    font-size: large;
    padding: 1rem;
}

.registro {
    height: 100%;
    width: auto;
}



#inicio{
    color: white;
}

#inicio:hover{
    color: white;
}


footer {
	padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(188, 0, 23);
    color: white;
    text-align: center;
}