/*!
 * Start Bootstrap - Blog Home HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	font-family: 'Trebuchet MS', 'Helvetica', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a{
    color: black;
}

a:hover{
    color: black;
}


.enlace {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.enlace:hover {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}


.barra {
	background-color: rgb(188, 0, 23);
	color: white;
}

.titulo {
	text-align: center;
	font-size: medium;
}

.registro {
	height: 100%;
	width: auto;
}

footer {
	padding: 1rem;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(188, 0, 23);
	color: white;
	text-align: center;
}